body {
  font-family: 'Inter', sans-serif;
  background: #f7f7f7;
  margin: 0;
}


.payment-container {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

.payment-card {
  background: white;
  padding: 50px;
  width: 100%;
  max-width: 500px;
  border-radius: 14px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
  text-align: center;
}

input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button {
  margin-top: 15px;
  padding: 14px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

.hidden {
  display: none;
}

.qr-box img {
  width: 200px;
  margin: 20px 0;
}

.home-btn {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
}
